/* line 1, /Users/nickyanthony/Dropbox/wordtofont/app/assets/stylesheets/home.scss */
#title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* line 6, /Users/nickyanthony/Dropbox/wordtofont/app/assets/stylesheets/home.scss */
.wordLabel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 115px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

/* line 20, /Users/nickyanthony/Dropbox/wordtofont/app/assets/stylesheets/home.scss */
.wordLabel:hover {
  background-color: #E0E0E0;
}

/* line 24, /Users/nickyanthony/Dropbox/wordtofont/app/assets/stylesheets/home.scss */
#keyword_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* line 31, /Users/nickyanthony/Dropbox/wordtofont/app/assets/stylesheets/home.scss */
.base_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
