<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	<title>Mood to Font</title>
  </head>
<body>
    <%= link_to({ :controller => 'home', :action => 'new' }, class: "no_underline") do %>
      <div class='add_button'> Add Font Descriptions </div>
    <% end %>
    <div class="base_container">
      <h1 id="title">Words to Font</h1>
      <div id="keyword_container">
        <input type="text" value="" id="search_input_bar" placeholder="Start typing adjectives and fonts will appear below... "/>
      </div>
      <div id="font_display_container" class="base_container font_wrapper">
      <div style="height: 30px;"></div>
      </div>
    </div>

  <script type="text/javascript">
    $(document).ready(function() {
      document.getElementById("search_input_bar").addEventListener('keyup', function () {
          find_fonts(this.value);
      }, false);
    });
  </script>
	  	
</body>

<footer>
  <div>Created by: Nick Anthony  </div>
  <div style="margin: 5px">|</div>
  <div>Check out the source code <a href="https://github.com/NickAnthony/wordtofont">
  here</a>.</div>
</footer>


</html>